<!DOCTYPE html> <html> <head> <style> ul {
  list-style-type: none;
  margin: 200 px;
  padding: 20 px;
}

</style> </head> <body style="margin:50;padding:0" > </body> </html> <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
